/node_modules
/public/hot
/public/storage
/public/js/app.js
/public/css/app.css
/storage/*.key
!/storage/app/public/teams/default-team.png
!/storage/app/public/users/default-user.png
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
composer.lock
yarn.lock
